/*
Author: Teo Jin Cheng
*/
.cartProduct{
    width:200px;
}

#noItem{
    margin-left:10px;
}


#checkOut{
    background-color: #c2c2c2 !important;
    width:200px;
    height:100px;
    position:relative;
    
}

#innerContent{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
