@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css); 
h1,h2,h3,h4,h5,p,td,small,div {
    font-weight: 200;
}
#gds-logo {
    width: 42px;
    margin-right: 5px;
}
.well h3 {
    margin-top: 0px;
}
.post {
    border-top: 1px solid #eee;
    padding: 8px 0px 8px 0px;
}
.post:first-child {
    border-top: none;
    padding: 0px 0px 8px 0px;
}
.post em {
    color: #999;
}
.post .message {
    font-size: 18px;
}
.post .authored {
    margin-top: 3px;
    color: #339;
}
p {
    font-size: 16px;
}
p a {
    font-weight: 300;
}
@media (max-width: 992px) {
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
}
@media (min-width: 992px) {
    body {
        margin-top: 40px;
    }
    #gds-logo {
        width: 70px;
        margin-right: 8px;
    }

}



fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}



.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 