/* 
Author: Teo Jin Cheng
*/

body{
    margin-bottom: 60px;
}

@media (min-width: 768px) {
    .needVertical{
        border-right-style: solid;
        border-right-width: 1px;
    }

    .dropdown-toggle{
        border-right-style: solid;
        border-right-width: 1px;
    }

    #firstNavLi{
        border-left-style: solid;
        border-left-width: 1px;
    }
}


@media (max-width: 767px) {
    .needVertical{
        border-right-style: none;
    }

    .dropdown-toggle{
        border-right-style: none;
    }

    #firstNavLi{
        border-left-style: none;
    }

}



